
 body {
    font-size: 16px;
    background-color: #fff;
    font-family: Syne;
 }
 /* Header  */
.header--row-inner.header-main-inner {
    background: #FFFFFF;
    height: 80px;
 }
 
 /* General Navigation  */
 .wrap::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    margin: 0 auto;
    right: 0;
    left: 0;
    transition: width .3s ease;
    pointer-events: none;
 }
 .nav-ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--spacing) / 2 * -1); 
    margin-left: calc(var(--spacing) / 2 * -1);  
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .nav-ul li a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px; 
    text-align: left;
    text-decoration: none;
 }
/* LES Goûts
   Nous avons une saveur pour chaque moment de votre journée.
*/
 .premium-banner-animation1 .premium-banner-ib-desc {
    top: auto;
    bottom: 0;
    min-height: 25%;
    height: auto;
    max-height: 100%;
    text-align: CENTER;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
 }
 /*  Nous contacter Les champs
  */
 label {
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
 .footer-menu-container {
    height: 60px;
    background-color: #ffffff;
    text-align: center;
    padding: 19px;

}

.footer-menu {
 list-style: none;
 padding: 0;
}

.footer-menu li {
 display: inline; 
 margin-right: 15px;
}

.footer-menu a {
 text-decoration: none;
 color: #000; /* Couleur des liens */
}