
 body {
    font-size: 16px;
    background-color: #fff;
    font-family: Syne;
 }
 /* Header  */
.header--row-inner.header-main-inner {
    background: #FFFFFF;
    height: 80px;
 }
 
 /* General Navigation  */
 .wrap::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    margin: 0 auto;
    right: 0;
    left: 0;
    transition: width .3s ease;
    pointer-events: none;
 }
 .nav-ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--spacing) / 2 * -1); 
    margin-left: calc(var(--spacing) / 2 * -1);  
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .nav-ul li a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-decoration: none;
 }