
 /* Import de la font  Syne depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
 body {
    font-size: 16px;
    background-color: #fff;
    font-family: Syne;
 }
 /* Styles pour tablettes */
@media (max-width: 1024px) {
    body {
        font-size: 14px;
    }
 }
 
 /* Styles pour smartphones */
 @media (max-width: 768px) {
    body {
        font-size: 12px;
    }
 }
 
 /* Styles pour petits écrans (320 pixels et plus) */
 @media (max-width: 480px) {
    body {
        font-size: 10px;
    }
 }
 
 /* Header  */
.header--row-inner.header-main-inner {
    background: #FFFFFF;
    height: 80px;
 }
 
 /* General Navigation  */
 .wrap::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    margin: 0 auto;
    right: 0;
    left: 0;
    transition: width .3s ease;
    pointer-events: none;
 }
 .nav-ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--spacing) / 2 * -1); 
    margin-left: calc(var(--spacing) / 2 * -1);  
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .nav-ul li a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px; 
    text-align: left;
    text-decoration: none;
 }
 /* Style pour "Commander" navigation */
#menu-item-1462 a {
    background-color: #DC9F96;
    color: white;
    padding: 10px 20px;
    width: 236px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
     font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
 }
 .builder-item {
    margin: 4px 0;
    position: relative;
    min-height: 1px;
    padding-right: 0;  /* Removed  padding */
    padding-left: 0;   /* Removed  padding */
 }
 .elementor-widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
  /* Centers content horizontally */
 .item {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers content horizontally */
    justify-content: center;  /* Centers content vertically */
    margin-bottom: 20px;
 }
  /* display none  */
 .m-style > ul > li > .wrap::after, 
 .sm-style .sub-menu .wrap::after {
     content: none !important;
 }
 
 /* Hover  "Commander"  */
 #menu-item-966 a:hover {
    background-color: #C02E44; /* Change background color on hover */
 }
 /* Nous contacter css */

 input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    height: 71px;
    top: 1154px;
    left: 529px;
    gap: 0px;
    border-radius: 7px 0px 0px 0px;
    opacity: 0px;
 }
 
 input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
 }
 
 input[type="submit"] {
    background-color: #e3b8ac; /* Button color similar to image */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Syne', sans-serif;
    width: 198px;
    height: 55px;
    top: 1164px;
    left: 631px;
    padding: 9px 57px 9px 56px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
 }
 
 input[type="submit"]:hover {
    background-color: #d9a79a;
 }
/* LES Goûts Nous avons une saveur pour chaque moment de votre journée.*/

 .premium-banner-animation1 .premium-banner-ib-desc {
    top: auto;
    bottom: 0;
    min-height: 25%;
    height: auto;
    max-height: 100%;
    text-align: CENTER;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
 }
 /*  Nous contacter Les champs*/

 label {
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
/*  styliser le bouton Commander dans formulaire*/
.btn, .button.button-primary, .is-style-primary .wp-block-button__link, .wp-block-search .wp-block-search__button, button, input[type=button], input[type=reset], input[type=submit] {
    background: #E0B9B4 !important;
    display: block !important;
    margin: 0 auto !important;
 }
  /*  Votre commande */
 input.commandePlanty {
    display: block;
    margin: 0 auto;
    width: 39px;
    height: 56px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    display: inline-block;
 }
 input.commandePlanty::placeholder {
    color: #000000; 
    font-size: 14px; 
    text-align: center; 
    opacity: 1; 
 }
 /* formulaire contact -Vos informations _ Livraison */
 .form-container {
    background-color: #3B8E46; 
    padding: 20px;
    border-radius: 10px;
 }
 
 .form-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 26px;
 }
 .nav-ul li > .wrap {
    display: flex !important;
    align-items: center !important;
    position: relative !important;
    padding: 0 0px !important;
 }
 
 
 .form-column {
    width: 45%;
 }
 
 /* Separator Line */
 .form-row::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: white;
    transform: translateX(-50%);
 }
 
 .form-column h2 {
 color: #FFFFFF;
    font-family: Syne;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
 }
 
 .footer-menu-container {
    height: 60px;
    background-color: #ffffff;
    text-align: center;
    padding: 19px;

}

.footer-menu {
 list-style: none;
 padding: 0;
}

.footer-menu li {
 display: inline; 
 margin-right: 15px;
}

.footer-menu a {
 text-decoration: none;
 color: #000; /* Couleur des liens */
}